<div id="container-2">
	<section id="side-group">
		<div id="profile-group"></div>
		<div id="comment-group"></div>
	</section>
	<section id="content-group-2">
		<div id="media-group">
			<label>Media</label>
			<input type="text" disabled />
		</div>
		<div id="kelas-group">
			<label>Pilih Kelas</label>
		</div>
		<div id="biaya-group">
			<label>Biaya per jam</label>
			<input type="text" placeholder="Rp." disabled />
		</div>
	</section>
</div>
