<header>
	<img src="/images/logo.png" alt="Ruang Kursus" id="logo" />
	<a href="" id="home">Home</a>
	<a href="" id="schedule">My Class</a>
	<a href="/scheduleguru" id="findclass">Schedule</a>
	<a href="/profileguru" id="proficon">
		<img src="/images/" alt="Profile Icon" id="profileicon" />
	</a>
</header>
