<html>
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="/css/homesiswaCSS.css" />
	</head>
	<body>
		<header>
			<img src="/images/logo.png" alt="Ruang Kursus" id="logo" />
			<a href="" id="home">Home</a>
			<a href="/schedulesiswa" id="schedule">Schedule</a>
			<a href="/findclass" id="findclass">Find Class</a>
			<a href="/profilesiswa" id="proficon">
				<img
					src="/images/profileicon.png"
					alt="Profile Icon"
					id="profileicon" />
			</a>
		</header>
		<section>
			<div id="text1">Jelajahi dunia pembelajaran yang tak terbatas dengan</div>
			<div id="text2">RuangKursus</div>
			<div id="text3">
				Tempat pendaftaran kursus privat yang memudahkan pengguna untuk
				mendaftar dan mengelola kursus privat dengan cepat dan efisien.
			</div>
			<img src="/images/logo.png" alt="Ruang Kursus" id="logo2" />
		</section>
	</body>
</html>
