<section>
	<div id="text1">Jelajahi dunia pembelajaran yang tak terbatas dengan</div>
	<div id="text2">RuangKursus</div>
	<div id="text3">
		Tempat pendaftaran kursus privat yang memudahkan pengguna untuk mendaftar
		dan mengelola kursus privat dengan cepat dan efisien.
	</div>
	<img src="/images/assets/logo.png" alt="Ruang Kursus" id="logo2" />
</section>
<%- include('login-register') %>

