<section id="tabel-myclass">
	<table>
		<tr>
			<th id="tanggal-myclass">Tanggal</th>
			<th id="nama-myclass">Nama Siswa</th>
			<th id="kelas-myclass">Kelas</th>
			<th id="waktu-myclass">Waktu</th>
		</tr>
	</table>
</section>
