<% if (user.role == 'guru') { %>
<div class="week-nav">
	<button id="create" onclick="openPopup()">Create</button>
</div>
<% } %>
<section id="tabel">
	<table>
		<tr>
			<th id="jam">Jam</th>
			<th class="hari">Senin</th>
			<th class="hari">Selasa</th>
			<th class="hari">Rabu</th>
			<th class="hari">Kamis</th>
			<th class="hari">Jumat</th>
			<th class="hari">Sabtu</th>
			<th class="hari">Minggu</th>
		</tr>
		<tr>
			<td>07:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>08:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>09:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>10:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>11:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>12:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>13:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>14:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>15:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>16:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>17:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>18:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>19:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>20:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>21:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>22:00</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
</section>
<% if (user.role == 'guru') { %>

<div class="popup-container" id="createpopup">
	<div class="popup-box">
		<span class="icon-close-schedule">
			<ion-icon name="close" onclick="closePopup()"></ion-icon>
		</span>
		<form action="/bikinjadwal" method="post" id="bikinjadwal">
			<div id="harigroup">
				<p id="hari">Hari</p>
				<select name="hari">
					<option>Senin</option>
					<option>Selasa</option>
					<option>Rabu</option>
					<option>Kamis</option>
					<option>Jumat</option>
					<option>Sabtu</option>
					<option>Minggu</option>
				</select>
			</div>
			<div id="tglmulaigroup">
				<p id="tglmulai">Tanggal Mulai</p>
				<select name="day"></select>
				<select name="month"></select>
				<select name="year"></select>
			</div>
			<div id="tglSelesaigroup">
				<p id="tglSelesai">Tanggal Selesai</p>
				<select name="day2"></select>
				<select name="month2"></select>
				<select name="year2"></select>
			</div>
			<div id="jammulaigroup">
				<p id="jammulai">Jam Mulai</p>
				<select name="jammulai">
					<option>07:00</option>
					<option>08:00</option>
					<option>09:00</option>
					<option>10:00</option>
					<option>11:00</option>
					<option>12:00</option>
					<option>13:00</option>
					<option>14:00</option>
					<option>15:00</option>
					<option>16:00</option>
					<option>17:00</option>
					<option>18:00</option>
					<option>19:00</option>
					<option>20:00</option>
					<option>21:00</option>
					<option>22:00</option>
				</select>
			</div>
			<div id="durasigroup">
				<p id="durasi">Durasi</p>
				<select name="durasi">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div class="button-group">
				<button type="submit" id="upload">Upload</button>
			</div>
		</form>
	</div>
</div>
<% } %>
