<div class="container-findclass-2">
	<div id="container-2">
		<section id="side-group">
			<div id="profile-group">
				<% let picture = (user.profile_picture == null) ? 'profileicon2.png' :
				user.profile_picture; %>
				<img src="/images/guru/<%= picture %>" id="card-2-img-top" alt="..." />
				<div id="card-2-body">
					<h4 id="card-2-title" class="h-card-2">Angely Yoranita</h4>
					<h4 id="card-2-sub-title" class="h-card-2">Matematika</h4>
					<h4 id="card-2-alamat" class="h-card-2">Bandung, Jawa Barat</h4>
					<h4 id="card-2-rating" class="h-card-2">
						<i class="fa-solid fa-star"></i>4.5
					</h4>
				</div>
			</div>
			<div id="comment-group"></div>
		</section>
		<section id="content-group-2">
			<div id="media-group">
				<label>Media</label>
				<input type="text" disabled />
			</div>
			<div id="kelas-group">
				<label>Pilih Kelas</label>
			</div>
			<div id="biaya-group">
				<label>Biaya per jam</label>
				<input type="text" placeholder="Rp." disabled />
			</div>
		</section>
	</div>
</div>
